# Xcode
xcuserdata
!xcshareddata

# Logs
Logs/

# Release folder
Public/unity-samples/
Public/Libraries/
Public/Plugins/
Public/Assets/
Public/scripts/

# Unity
UnityPackageManager/
/ProjectSettings
/Packages
/Temp
/Library
## https://stackoverflow.com/a/57728803/3745724

# Firebase
/unity-samples/Assets/Plugins/Android/*.aar
!/unity-samples/Assets/Plugins/Android/appboy*.aar
*.jar
*.so

# Generated resources
/unity-package
/Assets/Resources*
/Assembly*csproj
/*sln

# Scripts
scripts/build

# Sample app
unity-samples/*.sln
unity-samples/Assembly*csproj
**xcuserdata**
unity-samples/Temp/
unity-samples/Obj/
unity-samples/UnityGenerated/
unity-samples/Library/
unity-samples/Builds/
unity-samples/build/
# Only keep one file in the Data and Libraries to keep the Data folder.
# Unity won't append the built project if there isn't a Data and Libraries folders.
unity-samples/iOS/Auto-Integrate-Sample/*
unity-samples/iOS/Manual-Integrate-Sample/*
!unity-samples/iOS/Auto-Integrate-Sample/fastlane/*
!unity-samples/iOS/Manual-Integrate-Sample/fastlane/*
!unity-samples/iOS/Manual-Integrate-Sample/Classes/UnityAppController.mm
*.apk
unity-samples/UnityPackageManager/
unity-samples/Logs/

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# emacs temporary files
*~

# Tests
unity-samples/Assets/test-results/
resultsAndroid.xml
resultsIos.xml
unity-samples/Assets/UnityTestTools/
unity-samples/test-results/

# Fastlane
unity-samples/iOS/Roll-A-Ball-Ios/fastlane/README.md
unity-samples/iOS/Roll-A-Ball-Ios/fastlane/report.xml

# Visual Studio
.vs/
obj/
.vscode/
.vsconfig
