# Xcode
xcuserdata
!xcshareddata

# Release folder
Public/unity-samples/
Public/Libraries/
Public/Plugins/
Public/Assets/
Public/scripts/

# Unity
UnityPackageManager/
/ProjectSettings
/Packages
/Temp
/Library
*.meta
// All the .meta file in the Assets folder of sample app needs to be saved, or everytime we change branch/platform all the scripts are missing.
!unity-samples/Assets/**/*.meta
// Also need to keep the .meta file for the AppboyBindingTester.cs file
!Plugins/Appboy/Tests/AppboyBindingTester.cs.meta

# Generated resources
/unity-package
/Assets/Resources*
/Assembly*csproj
/*sln

# Copied libraries
Assets/Plugins/iOS/AppboyKit*
Assets/Plugins/iOS/SDWebImage*
Assets/Plugins/iOS/FLAnimatedImage*
Assets/Plugins/iOS/AppboyUI*

# Sample app
unity-samples/*.sln
unity-samples/Assembly*csproj
**xcuserdata**
unity-samples/Temp/
unity-samples/Obj/
unity-samples/UnityGenerated/
unity-samples/Library/
unity-sample/Builds/
# Only keep one file in the Data and Libraries to keep the Data folder.
# Unity won't append the built project if there isn't a Data and Libraries folders.
unity-samples/iOS/Auto-Integrate-Sample/*
unity-samples/iOS/Manual-Integrate-Sample/*
!unity-samples/iOS/Auto-Integrate-Sample/fastlane/*
!unity-samples/iOS/Manual-Integrate-Sample/fastlane/*
!unity-samples/iOS/Manual-Integrate-Sample/Classes/UnityAppController.mm
*.apk
unity-samples/UnityPackageManager/

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# emacs temporary files
*~

# jars
!*.jar

# Tests
unity-samples/Assets/test-results/
resultsAndroid.xml
resultsIos.xml
unity-samples/Assets/UnityTestTools/
unity-samples/test-results/

# Fastlane
unity-samples/iOS/Roll-A-Ball-Ios/fastlane/README.md
unity-samples/iOS/Roll-A-Ball-Ios/fastlane/report.xml

# Visual Studio
.vs/
obj/
