<?xml version="1.0" encoding="utf-8"?>
<Package xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="63769AppboyTest.AppboyTestApp" Publisher="CN=BFB6F0FF-580A-451B-9473-AD83056A4AA6" Version="1.1.0.0" ProcessorArchitecture="x86" />
  <Properties>
    <DisplayName>AppboyTestApp</DisplayName>
    <PublisherDisplayName>AppboyTest</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="RollABall.App">
      <m2:VisualElements DisplayName="AppboyTestApp" Square150x150Logo="Assets\MediumTile.png" Square30x30Logo="Assets\SmallLogo.png" Description="RollABall" ForegroundText="light" BackgroundColor="#000000" ToastCapable="true">
        <m2:DefaultTile Wide310x150Logo="Assets\WideTile.png" DefaultSize="square150x150Logo">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>